@use "sass:map";

@mixin produce($config) {
    $card: map.get($config, "component", "card");

    .leptonic-card {
        padding: 1.75em;
        background-color: map.get($card, "background-color");
        border-radius: 0.25em;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
        box-shadow: -2px 3px 15px -6px map.get($card, "box-shadow-color");
    }
}