leptonic-drawer {
    --margin: 0;
    display: flex;
    flex-direction: column;
    width: 17em;
    max-height: 100%;
    margin: var(--margin);
    background-color: #202020;
    box-shadow: 1px 15px 15px 0px #0d0d0d;
    z-index: 999;
    transition: color 250ms ease-in-out, background-color 250ms ease-in-out, border 200ms ease-in-out;
}
