@use "sass:map";

@mixin produce($config) {
  $input: map.get($config, "component", "field-label");

  .leptonic-field-label {
    display: inline-flex;
    color: map.get($input, "color");
    font-size: 0.9em;
    cursor: pointer;
    user-select: none;
  }
}
