@use "sass:map";

@mixin input-field($input) {
  display: flex;
  position: relative;
  z-index: 2;

  width: 100%;

  padding: map.get($input, "padding");
  margin: 0;

  color: map.get($input, "color");
  background-color: map.get($input, "background-color");
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: map.get($input, "border");
  border-bottom: map.get($input, "border-bottom");
  border-radius: map.get($input, "border-radius");

  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

  &, &:focus, &:active {
    outline: none;
  }
}

@mixin produce($config) {

  $input: map.get($config, "component", "input");

  [data-input] {
    position: relative;
    z-index: 2;
    line-height: inherit;
  }

  .leptonic-input {
    @include input-field($input);
  }

  textarea.leptonic-input {
    height: auto;
    max-height: 25em;
  }

  .leptonic-limit {
    position: relative;
    float: right;
    right: .5em;
    top: -2.3em;
    margin-bottom: -1000px;
    color: darkgrey;
    z-index: 3;
    font-size: .9em;
  }

  .leptonic-form-group {
    margin-bottom: 1em;
  }

  .leptonic-form-label {
    padding: .4em 0;
    margin-bottom: 0;
  }

}
