@use "sass:map";

@mixin produce($config) {
    leptonic-link {
        display: inline-flex;

        &.anchor::before {
            content: "\00a0";
        }

        a {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            text-decoration: auto;
            color: inherit;
            cursor: pointer;
            font-size: 1em;
        }
    }
}
