@use "sass:map";

@mixin produce($config) {
    $editor: map.get($config, "component", "tiptap-editor");

    .tiptap-editor {
        display: flex;
        flex-direction: column;

        // Reset
        .ProseMirror:focus {
            outline: none;
        }

        .tiptap-menu {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;
            border: 1px solid map.get($editor, "border-color");
            gap: 0.3em;
            padding: 1em;
        }

        .tiptap-btn {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-weight: 300;
            color: map.get($editor, "btn-color");
            background-color: map.get($editor, "btn-background-color");
            border-radius: 0.25em;
            padding: 0.25em;
            user-select: none;
            cursor: pointer;

            &.active, &:hover {
                color: map.get($editor, "active-btn-color");
                background-color: map.get($editor, "active-btn-background-color");
            }
        }

        .tiptap-instance {
            border: 1px solid map.get($editor, "border-color");
            color: map.get($editor, "instance-color");
            background-color: map.get($editor, "instance-background-color");
            padding: 0 1em;
            
            img {
                width: auto;
                height: auto;
                max-height: 20em;
                max-width: min(100%, 100em);
                // Image can be moved!
                cursor: grab;
            }
        }

        &.disabled {
            cursor: not-allowed;

            .tiptap-menu {
                display: none;
            }

            .tiptap-instance {
                color: grey;
                pointer-events: none;
            }
        }
    }
}