@use "sass:map";

@mixin produce($config) {
  $typography: map.get($config, "component", "typography");

  *,
  ::after,
  ::before {
    font-family: map.get($typography, "font-family");
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    margin: var(--margin);
  }

  h1 {
    --margin: 0.67em 0;
    font-size: 2em;
  }
  h2 {
    --margin: 0.83em 0;
    font-size: 1.5em;
  }
  h3 {
    --margin: 1em 0;
    font-size: 1.17em;
  }
  h4 {
    --margin: 1.33em 0;
    font-size: 1em;
  }
  h5 {
    --margin: 1.67em 0;
    font-size: 0.83em;
  }
  h6 {
    --margin: 2.33em 0;
    font-size: 0.67em;
  }

  leptonic-code {
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 0.9em;
    margin: 1.1111em 0;
    padding: 1em;
    border: none;
    border-radius: 0.25em;
    background-color: #2f2f2f;
    color: #fff5e2;
    white-space: pre;
    overflow: auto;
  }
}
