@use "sass:map";

$-grey-0: #F8F8F8;
$-grey-1: #ECECEB;
$-grey-2: #DBDBDA;
$-grey-3: #8D9CA3;
$-grey-4: #5D6E77;
$-grey-5: #2E2F33;
$-grey-6: #212121;
$-std-text-bright: #f0f0f0;
$-std-text-dark: #1d1d1d;
$-default-color: #6c6c6c;

$-primary: #0275d8;
$-secondary: #494949;
$-info: #0275d8;
$-success: #43b543;
$-warn: rgb(251, 140, 0);
$-danger: #d9534f;

$colors: (
    grey-0: $-grey-0,
    grey-1: $-grey-1,
    grey-2: $-grey-2,
    grey-3: $-grey-3,
    grey-4: $-grey-4,
    grey-5: $-grey-5,
    grey-6: $-grey-6,
    std-text-bright: $-std-text-bright,
    std-text-dark: $-std-text-dark,
    default-color: $-default-color,
    primary: $-primary,
    info: $-info,
    success: $-success,
    warn: $-warn,
    danger: $-danger,
);

$-darker-1: 5%;
$-darker-2: 7%;
$-darker-3: 10%;

$color-shifts: (
    darker-1: $-darker-1,
    darker-2: $-darker-2,
    darker-3: $-darker-3,
);

$-font-family: // Safari for OS X and iOS (San Francisco)
    -apple-system,
      // Chrome >= 56 for OS X (San Francisco), Windows, Linux and Android
    system-ui,
      // Chrome < 56 for OS X (San Francisco)
    BlinkMacSystemFont,
      // Windows
    "Segoe UI",
      // Android
    "Roboto",
      // Basic web fallback
    "Helvetica Neue", Arial, sans-serif !default;

$-btn-box-shadow-opacity: 0.3;
$-input-bg-color: #0f0f0f; // 202020
$-input-inverted-bg-color: #fafafa;
$-input-padding: 0.5em 2em 0.5em 0.5em;

$components: (
    alert: (
        margin: 0.5em 0 0 0,
        padding: .8em,
        primary-background-color: $-primary,
        primary-color: white,
        info-background-color: $-info,
        info-color: white,
        success-background-color: $-success,
        success-color: white,
        warn-background-color: $-warn,
        warn-color: white,
        danger-background-color: $-danger,
        danger-color: white,
    ),
    app-bar: (
        background-color: #323232,
        border-bottom: none, // 2px solid #828282,
        box-shadow: 1px 0px 15px 0px #1f1f1f,
    ),
    box: (
        background-color: #1e1c1c, //#0f0f0f,
        color: $-std-text-bright,
    ),
    button: (
        box-shadow-color: lighten($-primary, 10%),
        box-shadow-opacity: $-btn-box-shadow-opacity,
        btn-default-text-color: $-std-text-bright,
        btn-default-text-color-hover: $-std-text-bright,
        btn-default-background-color: $-default-color,
        btn-default-background-color-hover: darken($-default-color, $-darker-1),
        btn-default-border-color: $-default-color,
        btn-default-border-color-hover: $-default-color,
        btn-default-box-shadow-color: rgba($-default-color, $-btn-box-shadow-opacity),
        btn-primary-text-color: $-std-text-bright,
        btn-primary-text-color-hover: $-std-text-bright,
        btn-primary-background-color: $-primary,
        btn-primary-background-color-hover: darken($-primary, $-darker-1),
        btn-primary-border-color: $-primary,
        btn-primary-border-color-hover: darken($-primary, $-darker-2),
        btn-primary-box-shadow-color: rgba($-primary, $-btn-box-shadow-opacity),
        btn-success-text-color: $-std-text-bright,
        btn-success-text-color-hover: $-std-text-bright,
        btn-success-background-color: $-success,
        btn-success-background-color-hover: darken($-success, $-darker-1),
        btn-success-border-color: $-success,
        btn-success-border-color-hover: darken($-success, $-darker-2),
        btn-success-box-shadow-color: rgba($-success, $-btn-box-shadow-opacity),
        btn-warning-text-color: $-std-text-bright,
        btn-warning-text-color-hover: $-std-text-bright,
        btn-warning-background-color: $-warn,
        btn-warning-background-color-hover: darken($-warn, $-darker-1),
        btn-warning-border-color: $-warn,
        btn-warning-border-color-hover: darken($-warn, $-darker-2),
        btn-warning-box-shadow-color: rgba($-warn, $-btn-box-shadow-opacity),
        btn-danger-text-color: $-std-text-bright,
        btn-danger-text-color-hover: $-std-text-bright,
        btn-danger-background-color: $-danger,
        btn-danger-background-color-hover: darken($-danger, $-darker-1),
        btn-danger-border-color: $-danger,
        btn-danger-border-color-hover: darken($-danger, $-darker-2),
        btn-danger-box-shadow-color: rgba($-danger, $-btn-box-shadow-opacity),
    ),
    chip: (
        chip-primary-text-color: $-std-text-bright,
        chip-primary-text-color-hover: $-std-text-bright,
        chip-primary-background-color: $-primary,
        chip-primary-background-color-hover: darken($-primary, $-darker-1),
        chip-secondary-text-color: $-std-text-bright,
        chip-secondary-text-color-hover: $-std-text-bright,
        chip-secondary-background-color: $-secondary,
        chip-secondary-background-color-hover: darken($-secondary, $-darker-1),
        chip-success-text-color: $-std-text-bright,
        chip-success-text-color-hover: $-std-text-bright,
        chip-success-background-color: $-success,
        chip-success-background-color-hover: darken($-success, $-darker-1),
        chip-info-text-color: $-std-text-bright,
        chip-info-text-color-hover: $-std-text-bright,
        chip-info-background-color: $-info,
        chip-info-background-color-hover: darken($-info, $-darker-1),
        chip-warn-text-color: $-std-text-bright,
        chip-warn-text-color-hover: $-std-text-bright,
        chip-warn-background-color: $-warn,
        chip-warn-background-color-hover: darken($-warn, $-darker-1),
        chip-danger-text-color: $-std-text-bright,
        chip-danger-text-color-hover: $-std-text-bright,
        chip-danger-background-color: $-danger,
        chip-danger-background-color-hover: darken($-danger, $-darker-1),
    ),
    datetime: (
        font-size: 1em, // otherwise input font size
        weekday-name-color: #e66956,
        action-text-color: $-std-text-bright,
        action-disabled-text-color: $-grey-2,
        action-hover-background-color: $-grey-5,
        staging-year-background-color: #e66956,
        staging-year-text-color: $-std-text-bright,
        current-year-border-color: $-grey-2,
        staging-month-background-color: #e66956,
        staging-month-text-color: $-std-text-bright,
        current-month-border-color: $-grey-2,
        day-text-color: $-std-text-bright,
        day-from-different-month-text-color: $-grey-3,
        day-hover-text-color: $-std-text-bright,
        day-hover-background-color: #e66956,
        current-day-background-color: #e66956,
        current-day-border-color: $-grey-2,
        current-day-text-color: $-std-text-dark,
        staging-day-text-color: $-std-text-bright,
        staging-day-background-color: #e66956,
        disabled-day-text-color: $-grey-3,
        disabled-day-hover-background-color: $-grey-3,
    ),
    table-wrapper: (
        box-shadow-color: #101010,
    ),
    table: (
        color: $-std-text-bright,
        background-color: #202020,
        background-color-on-hover: #4c4c4c,
        background-color-of-striped-rows: #3c3c3c,
        header-background-color: #272727,
        border-color: #4c4c4c,
        cell-box-shadow-on-hover: 2px 2px 10px -3px rgb(50, 50, 50),
        column-background-if-ordered: #4c4c4c,
        header-cell-padding: 0.75em 1em,
        body-cell-padding: 0.75em 1em
    ),
    table-row: (
        border-bottom-color: #3f3f3f,
    ),
    tabs: (
    ),
    tab-selector: (
        background-color: #474747,
        text-color: $-std-text-bright,
        active-background-color: #202020,
        active-border-color: #1f1f1f,
        active-box-shadow-color: #4a4a4a,
    ),
    tab: (
        background-color: #202020,
        box-shadow-color: #101010,
    ),
    card: (
        background-color: #202020,
        box-shadow-color: #101010,
    ),
    checkbox: (),
    modal: (
        color: $-std-text-bright,
        background-color: #0f0f0f, //#343434,
        padding: 1.5em,
        font-size: 1em,
        header-padding: 1em,
        body-padding: 1.5em 1em,
        footer-padding: 0.75em 1em,
        border-radius: 0.4em,
        box-shadow: 10px 10px 22px -10px rgba(0,0,0,0.55)
    ),
    instance: (
        header-color: $-std-text-bright,
        header-bg-color: #1a1a1a,
        //body-bg-color: #343434,
        body-bg-color: transparent,
        collapsible-body-content-margin: 0.75em
    ),
    field-label: (
        color: #aaaaaa
    ),
    input: (
        padding: $-input-padding,
        color: $-std-text-bright,
        background-color: $-input-bg-color,
        border: none, // Reset any border previously defined!
        border-bottom: 1px solid rgb(255 255 255 / 15%),
        border-radius: 0,
        min-height: 2.5em
    ),
    link: (
        color: #e66956,
    ),
    select: (
        selected-color: $-std-text-bright,
        selected-background-color: $-input-bg-color,
        selected-badge-color: $-std-text-bright,
        selected-badge-background-color: #12d4e7,
        selected-placeholder-color: $-grey-4,
        focus-highlight-background-color: $-grey-4,
        dropdown-background-color: $-input-bg-color,
        dropdown-shadow: 2px 3px 18px -3px $-input-bg-color,
        search-color: $-std-text-bright,
        search-background-color: lighten($-input-bg-color, 20%),
        no-items-color: white,
        no-items-background-color: lighten($-danger, 20%),
        item-color: $-std-text-bright,
        item-background-color: $-input-bg-color,
        item-padding: $-input-padding,
        item-hover-background-color: lighten($-input-bg-color, 20%),
        item-selected-background-color: lighten($-input-bg-color, 30%)
    ),
    tiptap-editor: (
        btn-color: $-std-text-bright,
        btn-background-color: $-input-bg-color,
        active-btn-color: $-std-text-dark,
        active-btn-background-color: $-input-inverted-bg-color,
        instance-color: $-std-text-bright,
        instance-background-color: $-input-bg-color,
        border-color: $-grey-4
    ),
    typography: (
        font-family: $-font-family,
        code-background-color: #2d2f34,
        code-color: #fff5e2
    )
);

$config: (
    color: $colors,
    color-shift: $color-shifts,
    component: $components,
);
